#h {
  position: relative;
  margin-top: -90px;
  left: 350px;
}
.blur{
  animation: animate linear both;
  animation-timeline: view();
}

@keyframes animate {
  0% {
    filter: blur(5px);
    transform: scale(0.5);
    opacity: 0;
  }
  25%,60% {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    filter: blur(5px);
    opacity: 0;
    transform: scale(0.5);
  }
}
.logo {
  background: linear-gradient(to right, #FF6F61, #51b1ff94, #F7CAC9, #FF6F61);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 18s ease-in-out infinite;
  display: inline-block; /* Ensure proper rendering */
  line-height: 0.8; /* Prevent clipping */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11); /* Add subtle shadow for depth */
}
#he {
  position: relative;
  font-size: 50px;
  left: 200px;
  background: linear-gradient(to right, #FF6F61, #51b1ff94, #F7CAC9, #FF6F61);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s linear infinite;
}

#n {
  font-size: 50px;
  position: relative;
  left: 200px;
  margin-top: 20px;
  background: linear-gradient(to right, #068cfa, #FF6F61, #F7CAC9 , #068cfa);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s linear infinite;
}

#d {
  font-size: 20px;
  position: relative;
  margin-left: 100px;
  margin-top: -30px;
}

#social {
  position: relative;
  margin-left: 100px;
  width: auto;
  top: -60px;
}

.gap {
  max-width: 10%;
  height: 50px;
}

.sub {
  font-size: 40px;
  background: linear-gradient(to right,#f3928a, #f09e9d);
  background-size: 200%;
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

body {
  background: #92A8D1; /* Updated color */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
.btn-contact-me {
  position: relative;
  margin-left: 0%;
  font-size: 24px;
  text-align: center;
  background: #034F84; /* Updated color */
  border-radius: 50px;
  color: #FFFFFF; /* Updated color */
  display: inline-block;
  width: 313px;
  padding: 30px 0px 20px 0px;
  
}

.animate__slideInLeft {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animate__headShake {
  animation-duration: 3s;
  animation-name: headShake;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.btn-contact-me {
  background: #034F84; /* Updated color */
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  cursor: pointer;
  position: center;
}

.btn-contact-me:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-contact-me:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.btn-contact-me:hover i {
  color: #fff;
}

.btn-contact-me:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


body{
  background: radial-gradient(ellipse at bottom, #0d1d31 10%, #0c0d13 100%);
  height: auto;
  font-family: "Damion", cursive;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
pre {
  padding-left: 10px;
  font-size: 20px;
  color: #f7f7f7;
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #f1f1f1;
  text-shadow: 2px 2px 4px #000000;
  line-height: 2px;
  color: rgb(170, 170, 170);
}

#nav {
  display: inline-flex; 
   top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  background:  transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 5px #068cfa;
  position: fixed;
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
}

/* #nav3 {
  display: none;
  flex-direction: row;
  width: 80%;
  position: absolute;
  justify-content: space-between;
  top: 50px;
  left: 100px;
  z-index: 999;
  transition: top 0.3s;
  max-width: 100%;
  overflow-x: hidden;
} */

#nav2 {
  margin-right: 10px;
  margin-left: auto;
}


p {
  font-size: 150%;
}

* {
  color: rgba(246, 238, 238, 0.811);
  box-sizing: border-box;
}

#b1 {
  margin: 12px;
  padding: 10px 20px;
  border: none;
  background: none;
  color: #d3d3d3; /* Initial text color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

#b1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #82d4f5 ; /* Line color */
  transition: width 0.3s ease;
}

#b1:hover {
  color: #82d4f5; /* Change text color on hover */
}

#b1:hover::after {
  width: 100%; /* Line grows from left to right */
}

#b1:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(14, 111, 207, 0.5); Focus ring */
}

#b1:active {
  transform: scale(0.95); /* Pressed button effect */
}

a {
  text-decoration: none;
}

#icon1,
#icon2,
#icon3,
#icon4 {
  position: relative;
  margin: 20px;
  width: 50px;
  height: 50px;
  top: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 238, 238);
  font-size: 24px;
  transition: 500ms;
}

#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
  box-shadow: -5px -5px 15px #FF6F61, 5px 5px 15px #6B5B95, inset 5px 5px 10px #034F84,
    inset -5px -5px 10px #F7CAC9;
  color: #d6d6d6;
  transform: scale(1.3);
  transition: 500ms;
}

#dropdown {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
}
*{

  font-family: Arial, Helvetica, sans-serif;
}

#d {
  font-size: 20px;
  position: relative;
  left: 100px;
  margin-top: -30px;
}

#social {
  position: relative;
  left: 100px;
  width: auto;
  margin-top: 20px;
}

#social img {
  alt: "Social media icon";
  
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 105%;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
  color: #ffffff; 
  text-align: left;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: -20px;
  margin-left: -10px;
  margin-right: -10px;
}

.tik{
  font-size: 20px;
  /* color: #fff0e4; */
  margin: 10px;
  padding: 0%;
}
ul{
  margin-left: -15px;
}
.tik::marker {
  content: "✔✔   "; 
  font-size: 60%;
  font-weight: bold;
  color: #0de3ff; 
}