#h {
  position: relative;
  margin-top: -90px;
  left: 350px;
}

#he {
  position: relative;
  color: #d115c8;
  font-size: 50px;
  left: 200px;
}

#n {
  font-size: 50px;
  position: relative;
  left: 200px;
  margin-top: 20px;
}

#d {
  font-size: 20px;
  position: relative;
  margin-left: 100px;
  margin-top: -30px;
}

#social {
  position: relative;
  margin-left: 100px;
  width: auto;
  top: -60px;
}

body {
  background: #8528A6;
  font-family: "Montserrat", sans-serif;
}
.btn-contact-me {
  position: relative;
  margin-left: 10%;
  font-size: 24px;
  text-align: center;
  background: #565345;
  border-radius: 50px;
  color: #8528A6;
  display: inline-block;
  width: 313px;
  padding: 30px 0px 20px 0px;
  
}

.animate__slideInLeft {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes animate__slideInLeft {
  from {
    margin-left: 100%;
    width: 400%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animate__headShake {
  animation-duration: 3s;
  animation-name: headShake;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.btn-contact-me {
  background: #b19522;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  cursor: pointer;
}

.btn-contact-me:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-contact-me:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.btn-contact-me:hover i {
  color: #fff;
}

.btn-contact-me:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

body{
  background: linear-gradient(to top, #363333, #141313);
  height: auto;
  font-family: "Damion", cursive;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
pre {
  padding-left: 10px;
  font-size: 20px;
  color: #f7f7f7;
  margin-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #f1f1f1;
  text-shadow: 2px 2px 4px #000000;
  line-height: 2px;
  color: rgb(170, 170, 170);
}

#nav {
  display: inline-flex;
  padding-top: 5px;
  padding-left: 15px;
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#nav3 {
  display: none;
  flex-direction: row;
  width: 80%;
  position: absolute;
  justify-content: space-between;
  top: 50px;
  left: 100px;
  z-index: 999;
  transition: top 0.3s;
  max-width: 100%;
  overflow-x: hidden;
}

#nav2 {
  margin-right: 10px;
  margin-left: auto;
}


p {
  font-size: 150%;
}

* {
  color: rgba(246, 238, 238, 0.811);
  box-sizing: border-box;
}

#b1 {
  margin: 12px;
  width: auto;
  border-radius: 10px;
  background: #1f1f1f;
  justify-content: center;
  align-items: center;
  box-shadow: 100px #fbfafa, 5px 5px 15px #7a7a7a, inset 5px 5px 10px #8a8989,
    inset -5px -5px 10px #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

#b1:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transform: scale(1.1);
  transition: 500ms;
}

a {
  text-decoration: none;
}

#icon1,
#icon2,
#icon3,
#icon4 {
  position: relative;
  margin: 20px;
  width: 50px;
  height: 50px;
  top: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 238, 238);
  font-size: 24px;
  transition: 500ms;
}

#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
  box-shadow: -5px -5px 15px #d115c8, 5px 5px 15px #1309a3, inset 5px 5px 10px #050f9c,
    inset -5px -5px 10px #3c07ea;
  color: #d6d6d6;
  transform: scale(1.3);
  transition: 500ms;
}

#dropdown {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
}
*{

  font-family: Arial, Helvetica, sans-serif;
}

#d {
  font-size: 20px;
  position: relative;
  left: 100px;
  margin-top: -30px;
}

#social {
  position: relative;
  left: 100px;
  width: auto;
  margin-top: 20px;
}

